<h1>Users</h1>
<table>
  <thead>
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
  </thead>
  <tbody>
  <% @users.each do |user|
  </tbody>
</table>
<p>Find me in app/views/admins/index.html.erb</p>
